/*font-family: 'Inder', sans-serif;*/
/*font-family: 'Andika', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Timmana', sans-serif;*/
/*font-family: 'Convergence', sans-serif;*/
/*font-family: 'Muli', sans-serif;*/

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

body {
	font-size:100%;
	font-family: 'Andika', sans-serif;
	margin:0;
	padding:0;
	background-color:#999;
}

header {
	margin:1em;
	display:none;
}

header h1 {
	font-size:2.2em;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	margin:.8em;
	padding:0;
}

p {
	margin:0;
	font-size:1.2em;
	line-height:1.5em;
}

img {
	margin:0 auto;
}

figure {
	margin:0;
	padding:10px;
}

figcaption {
	font-size:1.2em;
}

div {
	min-height:738px;
}

div .header {
	margin:0 auto;
	min-height:100%;
	text-align:center;
}

div .carousel {
	margin:0 auto;
	max-width:439px;
}

div .weather, .dumps, .bent, .tickled, .stitches, .dog, .punch, .ants {
	float:left;
	position:relative;
	min-width:439px;
	min-height:738px;
	background-size:cover;
	background-repeat:none;
}
div.img {
	/*max-width:270px;*/
}

.weather {
	display:block;
	background-image:url(images/weather.png);
}

.weather p {
	max-width:8.7em;
	padding:.5em;
}
	
.dumps {
	display:none;
	background-image:url(images/dumps.png);
}

.dumps p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
	
}

.bent {
	display:none;
	background-image:url(images/bent.png);
}

.bent p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.tickled {
	display:none;
	background-image:url(images/tickled.png);
}

.tickled p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.stitches {
	display:none;
	background-image:url(images/stitches.png);
}

.stitches p {
	max-width:8.9em;
	padding:.5em;
}

.dog {
	display:none;
	background-image:url(images/dog.png);
}

.dog p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.punch {
	display:none;
	background-image:url(images/punch.png);
}

.punch p {
	max-width:8.9em;
	padding:.5em;
}

.ants {
	display:none;
	background-image:url(images/ants.png);
}

.ants p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

/*@media only screen and (max-width:355px){
	
.weather {
	display:block;
}
	
} /* end of max 355px */

@media screen and (min-width:356px) and (max-width:466px){
	
.weather {
	display:block;
}

.dumps {
	display:block;
}
	
} /* end of 466px */

@media only screen and (min-width: 467px) and (max-width: 612px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}
	
} /* end of 612px */

@media only screen and (min-width: 613px) and (max-width: 758px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}
	
} /* end of 758px */

@media only screen and (min-width: 759px) and (max-width: 904px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}
	
} /* end of 904px */

@media only screen and (min-width: 905px) and (max-width: 1050px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}

.dog {
	display:block;
}
	
} /* end of 1050px */

@media only screen and (min-width: 1051px) {
.weather {
	display:block;
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}

.dog {
	display:block;
}

.punch {
	display:block;
}

.ants {
	display:block;
}
	
} /* end of 1200px */*/



