/*font-family: 'Inder', sans-serif;*/
/*font-family: 'Andika', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Timmana', sans-serif;*/
/*font-family: 'Convergence', sans-serif;*/
/*font-family: 'Muli', sans-serif;*/

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

body {
	font-size:100%;
	font-family: 'Andika', sans-serif;
	margin:0;
	padding:0;
	background-color:#FEF7EB;
}

header {
	margin:1em 0 1em 0;
}

header h1 {
	font-size:2.2em;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	margin:.8em;
	padding:0;
}

p {
	margin:0;
	font-size:1.2em;
	line-height:1.5em;
}

img {
	margin:0 auto;
}

figure {
	margin:0;
	padding:10px;
}

figcaption {
	font-size:1.2em;
}

div {
	margin:.5em;
	max-width:270px;
	float:left;
	position:relative;
}
div.img {
	max-width:270px;
}

.weather {
	display:block;
	background-image:url(images/weather.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.weather p {
	max-width:8.7em;
	padding:.5em;
}
	
.dumps {
	display:none;
	background-image:url(images/dumps.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.dumps p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
	
}

.bent {
	display:none;
	background-image:url(images/bent.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.bent p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.tickled {
	display:none;
	background-image:url(images/tickled.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.tickled p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.stitches {
	display:none;
	background-image:url(images/stitches.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.stitches p {
	max-width:8.9em;
	padding:.5em;
}

.dog {
	display:none;
	background-image:url(images/dog.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.dog p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.punch {
	display:none;
	background-image:url(images/punch.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.punch p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

.ants {
	display:none;
	background-image:url(images/ants.png);
	background-size:cover;
	background-repeat:none;
	min-width:270px;
	min-height:472.5px;
}

.ants p {
	color:#fff;
	padding:.5em;
	position:absolute;
	left:3px;
	bottom:3px;
}

@media only screen and (min-width: 355px) {
	
.weather {
}

.dumps {
	display:none;
}

.bent {
	display:none;
}

.tickled {
	display:none;
}

.stitches {
	display:none;
}

.dog {
	display:none;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 321px */

@media only screen and (min-width: 466px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:none;
}

.tickled {
	display:none;
}

.stitches {
	display:none;
}

.dog {
	display:none;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 466px */

@media only screen and (min-width: 612px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:none;
}

.stitches {
	display:none;
}

.dog {
	display:none;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 612px */

@media only screen and (min-width: 758px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:none;
}

.dog {
	display:none;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 758px */

@media only screen and (min-width: 904px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}

.dog {
	display:none;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 904px */

@media only screen and (min-width: 1050px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}

.dog {
	display:block;
}

.punch {
	display:none;
}

.ants {
	display:none;
}
	
} /* end of 1050px */

@media only screen and (min-width: 1200px) {
.weather {
}

.dumps {
	display:block;
}

.bent {
	display:block;
}

.tickled {
	display:block;
}

.stitches {
	display:block;
}

.dog {
	display:block;
}

.punch {
	display:block;
}

.ants {
	display:block;
}
	
} /* end of 1200px */