/*font-family: 'Inder', sans-serif;*/
/*font-family: 'Andika', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Timmana', sans-serif;*/
/*font-family: 'Convergence', sans-serif;*/
/*font-family: 'Muli', sans-serif;*/

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

body {
	font-size:100%;
	font-family: 'Andika', sans-serif;
	margin:0;
	padding:0;
	background-color:#000;
}

header {
	margin:0 .2em .2em .2em;
	font-size:1.1em;
	font-family: 'Quicksand', sans-serif;
	padding:0;
	color:#FF403F;
	text-shadow:.2px .2px 0 #fff, 0 0 12px #FF8A89;
	text-decoration:blink;
}
header h1 {
	font-size:2.8em;
	font
	margin:1em 0 1em 0;
	padding:.5em;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	margin:0;
	padding:0;
}

h4 {font-family: 'Quicksand', sans-serif;
	font-size:1.2em;
	margin:0;
	padding:.5em;
}

p {
	margin:0;
	padding:.5em;
	font-size:1.2em;
	line-height:1.5em;
}

img {
	margin:.5em 0 .5em 0;
}

div {
	max-width:420px;
	margin:0 auto;
}

.wrapper {
	background-color:#fff;
	margin-top:20px;
	padding:15px;
}